<!DOCTYPE html>
<html>
  <head>
    <title>Subscriberapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div> 
    <% end %>

    <% if flash[:info] %>
      <div class="alert alert-info" role="alert"> <%= flash[:info] %> </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-warning"> <%= flash[:error] %> </div> 
    <% end %>

    <%= yield %>
  </body>
</html>
